/* FONTS ############ */
@font-face {
	font-family: "MuseoSans";
	font-style: normal;
	font-weight: 900;
	src: url("../font/museosans_900-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: italic;
	font-weight: 900;
	src: url("../font/museosans_900_italic-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: normal;
	font-weight: 500;
	src: url("../font/museosans_500-webfont-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: normal;
	font-weight: 700;
	src: url("../font/museosans_700-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: normal;
	font-weight: 300;
	src: url("../font/museosans_300-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: italic;
	font-weight: 300;
	src: url("../font/museosans_300_italic-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: normal;
	font-weight: 100;
	src: url("../font/museosans_100-webfont.woff");
}
/* ######################## */
/* ------------------------------------------------------------------ */
/* CONTAINER ############ */
html, body {
	margin: 0;
	padding: 0;
}

#container {
	background-color: #FFFFFF;
	top: 3px;
	height: 1000px;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
/* ######################## */
/* ------------------------------------------------------------------ */
/* NAVIGATION ############ */
header {
	z-index: 99;
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: white;
//	opacity: 0.6;
}

#nav {
	position: fixed;
	z-index: 100;
	margin: 0;
	top: 20px;
	left: 50px;
}

#logo {
	height: 35px;
	width: 35px;
	margin-top: 30px;
	margin-left: 15px;
}       

.txt {
	color: #313131;
	font-family: MuseoSans, sans-serif;
	font-style: normal;
	font-weight: 300;
}

h4.txt { /*general*/
	font-weight: 100;
}

h4 > a {
	color: #313131;
	text-decoration: none;
}

h4 a:hover {
	color: #313131;
	text-decoration: none;
	font-weight: 700;
}
/* ######################## */
/* ------------------------------------------------------------------ */
/* NAME ############ */
#section0 {
	position: relative;
	height: 180px; 
/*	top: 63px; different logo look */
	top: 51px;

/*
	background-image: url('../img/white_line.jpg');
	background-size: 100% 100%;
	background-position: center;
*/
}

.box {
	border: 1px solid #CACCCD;
	border-radius: 16px; 
	background-color: #CACCCD;
	-webkit-box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);

}

h1.txt { /*general*/
	font-size: 250%; 
	position: absolute;
	font-weight: 900;
	left: 20%;
	margin: 0;
	top: 25%;
}

#git-logo {
	float: left;
	height: 22px;
	width: 22px;
	margin-left: 28%;
	margin-top: 110px;
}

#linkedin-logo {
	border: 1px solid white;
	float: left;
	height: 22px;
	width: 22px;
	margin-left: 60px;
	margin-top: 110px;
}

#twitter-logo {
	position: absolute;
	float: left;
	height: 22px;
	width: 22px;
	margin-left: 60px;
	margin-top: 110px;
}
/* ######################## */
/* ------------------------------------------------------------------ */
/* PROJECTS ############ */
#sectionA {
	margin-top: 80px;
}

#projects {
	margin-top: 30px;
	margin-left: 30px;
}

h3.txt { /*general*/
	clear: both;
	font-weight: 900;
	font-size: 140%;
}

h2.txt { /*general*/ 
	clear: both;
	font-weight: 900;
}

#space_invader {
	float: left;
	margin-left: 0%;
	margin-bottom: 15px;
	height: 110px;
	width: 120px;
}

#gear {
	float: left;
	margin-left: 8%;
	margin-bottom: 15px;
	height: 110px;
	width: 110px;
}

#poke {
	float: left;
	margin-left: 8%;
	margin-bottom: 15px;
	height: 110px;
	width: 110px;
}

#microchip {
	float: left;
	margin-left: 8%;
	margin-bottom: 15px;
	height: 110px;
	width: 110px;
}

ul { /*general*/
	list-style-type: none;
	
}

.title {
	color: #313131;
	font-family: MuseoSans, sans-serif;
	font-style: normal;
	font-weight: 900;
	margin-bottom: -8px;
}

p.txt { /*general*/
	font-weight: 500;
}

.description {
	float: left;
	border: 1px solid #CACCCD;
	background-color: #CACCCD;
	border-radius: 15px;
	margin-left: 5%;
	height: 110px;
	width: 450px;
	text-align: center;
	position: relative;
}

#ascii {
	display: none;
}

#vm {
	display: none;
}

#autopoke {
	display: none;
}

#device {
	display: none;
}

.octocat {
	position: absolute;
	bottom: -25px;
	left: -5px;
	height: 40px;
	width: 50px;
}

.ellipsis {
	position: absolute;
	bottom: -10px;
	right: -5px;
	height: 9px;
	width: 41px;
}
/* ######################## */
/* ------------------------------------------------------------------ */
/* SKILLS ############ */
#sectionB {
	clear: both;
	margin-top: 160px;
}	

#skills {
	margin-top: 30px;
	margin-left: 30px;
}

ul.txt, li.txt {
	font-family: MuseoSans, sans-serif;
	font-weight: 900;
	list-style-type: circle;
	font-size: 16px;
	text-align: left;
	margin: 2em 0;
}
/* ######################## */
/* ------------------------------------------------------------------ */
/* EXPERIENCE ############ */
#sectionC {
	position: absolute;
	background-color: #FFFFFF;
	height: 300px;
	width: 100%;
	margin-top: 60%; 
}

#experience { 
	margin-top: 30px; 
	margin-left: 30px; 
}
/* ######################## */
/* ------------------------------------------------------------------ */
/* CONTACT */

/* ######################## */

