@font-face {
	font-family: "MuseoSans";
	font-style: normal;
	font-weight: 900;
	src: url("../font/museosans_900-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: italic;
	font-weight: 900;
	src: url("../font/museosans_900_italic-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: normal;
	font-weight: 500;
	src: url("../font/museosans_500-webfont-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: normal;
	font-weight: 700;
	src: url("../font/museosans_700-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: normal;
	font-weight: 300;
	src: url("../font/museosans_300-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: italic;
	font-weight: 300;
	src: url("../font/museosans_300_italic-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: normal;
	font-weight: 100;
	src: url("../font/museosans_100-webfont.woff");
}

#logo {
	float: left;
	height: 35px;
	width: 35px;
	margin-top: 10px;
	margin-left: 10px;
}       

.txt {
	color: #313131;
	font-family: MuseoSans, sans-serif;
	font-style: normal;
	font-weight: 300;
}

h4.txt {
	font-weight: 100;
}

h4 > a {
	color: #313131;
	text-decoration: none;
}

h4 a:hover {
	color: #313131;
	text-decoration: none;
	font-weight: 700;
}

div.container {
	position: absolute;
	background-color: #CACCCD;
	margin-top: 3px;
	height: 180px;
	width: 100%;
	left: 0;
	right: 0;
/*
	background-image: url('../img/white_line.jpg');
	background-size: 100% 100%;
	background-position: center;
	max-width: 100%;
*/
}

h1.txt {
	font-weight: 900;
	margin-left: 20%;
	margin-top: 50px;
}

#git-logo {
	float: left;
	height: 22px;
	width: 22px;
	margin-left: 25%;
}

#linkedin-logo {
	border: 1px solid white;
	float: left;
	height: 22px;
	width: 22px;
	margin-left: 60px;

}

#twitter-logo {
	position: absolute;
	float: left;
	height: 22px;
	width: 22px;
	margin-left: 60px;
}

.sectionA {
	margin-top: 120px;
	margin-left: 30px;
}

h3.txt {
	clear: both;
	font-weight: 900;
}

#space_invader {
	float: left;
	margin-left: 0%;
	margin-bottom: 15px;
	height: 110px;
	width: 120px;
}

#gear {
	float: left;
	margin-left: 8%;
	margin-bottom: 15px;
	height: 110px;
	width: 110px;
}

#poke {
	float: left;
	margin-left: 8%;
	margin-bottom: 15px;
	height: 110px;
	width: 110px;
}

#microchip {
	float: left;
	margin-left: 8%;
	margin-bottom: 15px;
	height: 110px;
	width: 110px;
}

ul {
	list-style-type: none;
}

.title {
	color: #313131;
	font-family: MuseoSans, sans-serif;
	font-style: normal;
	font-weight: 900;
	margin-bottom: -8px;
}

p.txt {
	font-weight: 500;
}

.description {
	float: left;
	border: 1px solid #CACCCD;
	background-color: #CACCCD;
	border-radius: 10px;
	display: inline;
	margin-left: 5%;
	height: 110px;
	width: 450px;
	text-align: center;
	position: relative;
}

#ascii {
	display: none;
}

#vm {
	display: none;
}

#autopoke {
	display: none;
}

#device {
	display: none;
}

.octocat {
	position: absolute;
	bottom: -25px;
	left: -5px;
	height: 40px;
	width: 50px;
}

.ellipsis {
	position: absolute;
	bottom: -10px;
	right: -5px;
	height: 9px;
	width: 41px;
}

.sectionB {
	margin-top: 10%;
	margin-left: 30px;
}	
