/* FONTS ############ */

@font-face {
	font-family: "MuseoSans";
	font-style: normal;
	font-weight: 900;
	src: url("../font/museosans_900-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: italic;
	font-weight: 900;
	src: url("../font/museosans_900_italic-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: normal;
	font-weight: 500;
	src: url("../font/museosans_500-webfont-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: normal;
	font-weight: 700;
	src: url("../font/museosans_700-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: normal;
	font-weight: 300;
	src: url("../font/museosans_300-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: italic;
	font-weight: 300;
	src: url("../font/museosans_300_italic-webfont.woff");
}

@font-face {
	font-family: "MuseoSans";
	font-style: normal;
	font-weight: 100;
	src: url("../font/museosans_100-webfont.woff");
}

/* ######################## */
/* ------------------------------------------------------------------ */
/* CONTAINER ############ */

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#container {
	background-color: #FFFFFF;
	top: 3px;
	height: 100%;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

/* ######################## */
/* ------------------------------------------------------------------ */
/* NAVIGATION ############ */

header {
	z-index: 99;
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.75);
}

#nav {
	position: fixed;
	z-index: 100;
	margin: 0;
	top: 20px;
	left: 50px;
}

#logo {
	height: 35px;
	width: 35px;
	margin-top: 30px;
	margin-left: 15px;
}

.txt {
	color: #313131;
	font-family: MuseoSans, sans-serif;
	font-style: normal;
	font-weight: 300;
}

h4.txt { /*general*/
	font-weight: 100;
}

h4 > a {
	color: #313131;
	text-decoration: none;
}

h4 a:hover {
	color: #313131;
	text-decoration: none;
	font-weight: 700;
}

/* ######################## */
/* ------------------------------------------------------------------ */
/* NAME ############ */

#section0 {
	position: relative;
	height: 180px;
/*	top: 63px; different logo look */
	top: 51px;
/*
	background-image: url('../img/white_line.jpg');
	background-size: 100% 100%;
	background-position: center;
*/
}

p.aboutme {
	position: absolute;
	font-weight: 500;
	top: 25%;
	right: 10%;
}

#txt {
	display: none;
}

.box {
	border: 1px solid #CACCCD;
	border-radius: 16px;
	background-color: #CACCCD;
	-webkit-box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
}

h1.txt { /*general*/
	font-size: 2.50em;
	position: absolute;
	font-weight: 900;
	left: 20%;
	margin: 0;
	top: 25%;
}

#img-box {
	float: right;
	margin-left: 20px;
	width: 40%;
	height: 100%;
}

#github-img {
	display: none;
	margin: auto;
	margin-top: 34px;
	width: 80%;
	height: 55%;
}

#git-logo {
	float: left;
	height: 22px;
	width: 22px;
	margin-left: 28%;
	margin-top: 110px;
}

#linkedin-img {
	display: none;
	margin: auto;
	margin-top: 34px;
	width: 80%;
	height: 60%;
}

#linkedin-logo {
	border: 1px solid #313131;
	float: left;
	height: 22px;
	width: 22px;
	margin-left: 60px;
	margin-top: 110px;
}

#twitter-img {
	display: none;
	margin: auto;
	margin-top: 34px;
	width: 85%;
	height: 65%;
}

#twitter-logo {
/*	position: absolute; */
	float: left;
	height: 22px;
	width: 22px;
	margin-left: 60px;
	margin-top: 110px;
}

#me {
	display: none;
}

/* ######################## */
/* ------------------------------------------------------------------ */
/* PROJECTS ############ */

#sectionA {
	display: inline-block;
	width: 99%;
	margin-top: 58px;
}

#projects {
	margin-left: 30px;
}

h3.txt { /*general*/
	font-weight: 900;
	font-size: 1.40em; /*I may want to increase title size*/
}

h2.txt { /*general*/
	clear: both;
	font-weight: 900;
}

#space_invader {
	float: left;
	margin-left: 0%;
	margin-bottom: 15px;
	height: 110px;
	width: 120px;
}

#gear {
	float: left;
	margin-left: 8%;
	margin-bottom: 15px;
	height: 110px;
	width: 110px;
}

#foids {
	float: left;
	margin-left: 8%;
	margin-bottom: 15px;
	height: 110px;
	width: 110px;
}

#processor {
	float: left;
	margin-left: 8%;
	margin-bottom: 15px;
	height: 110px;
	width: 110px;
}

#database {
	clear: left;
	float: left;
	margin-left: 110px;
	margin-bottom: 15px;
	margin-top: 20px;
	height: 110px;
	width: 110px;
}

#ledger {
	float: left;
	margin-left: 8%;
	margin-bottom: 15px;
	margin-top: 20px;
	height: 110px;
	width: 110px;
}

#raytracer {
	float: left;
	margin-left: 8%;
	margin-bottom: 15px;
	margin-top: 20px;
	height: 110px;
	width: 110px;
}

#gameboycolor {
	float: left;
	margin-left: 8%;
	margin-bottom: 15px;
	margin-top: 20px;
	height: 110px;
	width: 110px;
}

#bucket {
	float: left;
	margin-left: 8%;
	margin-bottom: 15px;
	margin-top: 20px;
	height: 110px;
	width: 110px;
}

#poke {
	float: left;
	margin-left: 8%;
	margin-bottom: 15px;
	margin-top: 40px;
	height: 110px;
	width: 110px;
}

#gyro {
	float: left;
	margin-left: 8%;
	margin-bottom: 15px;
	margin-top: 40px;
	height: 110px;
	width: 110px;
}

ul { /*general*/
	list-style-type: none;
}

.title {
	color: #313131;
	font-family: MuseoSans, sans-serif;
	font-style: normal;
	font-weight: 900;
	margin-bottom: -8px;
}

p.txt { /*general*/
	font-weight: 500;
}

.description {
	position: relative;
	float: right;
	border: 1px solid #CACCCD;
	background-color: #CACCCD;
	border-radius: 15px;
	height: 110px;
	width: 450px;
	text-align: center;
}

@media screen and (min-width: 1285px) {
	.description {
		margin-right: 1%;
		margin-top: -272px;
	}
}

@media screen and (max-width: 1284px) {
	.description {
		margin-right: 15%;
		margin-top: 0px;
	}
}

#ascii {
	display: inline;
}

#vm {
	display: none;
}

#fish {
	display: none;
}

#fpga {
	display: none;
}

#carnotke {
	display: none;
}

#bitcoin {
	display: none;
}

#ray {
	display: none;
}

#gameboy {
	display: none;
}

#stack {
	display: none;
}

#autopoke {
	display: none;
}

#sensor {
	display: none;
}

.octocat {
	position: absolute;
	bottom: -25px;
	left: -5px;
	height: 40px;
	width: 50px;
}

.ellipsis {
	position: absolute;
	bottom: -10px;
	right: -5px;
	height: 9px;
	width: 41px;
}

/* ######################## */
/* ------------------------------------------------------------------ */
/* SKILLS ############ */

#sectionB {
	clear: both;
}

#skills {
	margin-top: 30px;
	margin-left: 30px;
}

ul.txt, li.txt {
	font-family: MuseoSans, sans-serif;
	font-weight: 900;
	list-style-type: none;
	font-size: 16px;
	text-align: left;
	margin: 2em 0;
}

.skillbar {
	position: relative;
	display: block;
	margin-bottom: 15px;
	width: 100%;
	background: #CACCCC; /*indent color*/
	height: 35px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-ms-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-ms-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
}

.skillbar-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 152px;
	font-weight: 500;
	font-size: 13px;
	color: #ffffff;
	background: white;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.skillbar-title span {
	display: block;
	background:rgba(0, 0, 0, 0.1);
	padding: 0 0px 0 20px;
	height: 35px;
	line-height: 35px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.skillbar-bar {
	height: 35px;
	width: 0px;
	background: #6adcfa;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#legend {
	border: 1px solid #313131;
	box-sizing: border-box;
	margin-right: 40px;
}

#first {
	float: left;
	background-color: #313131;
	border: 1px solid #313131;
	height: 4px;
	width: 1px;
	margin-right:25%;
	font-size: 12px;
}

#second {
	float: left;
	background-color: #313131;
	border: 1px solid #313131;
	height: 4px;
	width: 1px;
	margin-right: 25%;
	font-size: 12px;
}

#third {
	float: right;
	background-color: #313131;
	border: 1px solid #313131;
	height: 4px;
	width: 1px;
	margin-right: 25%;
	font-size: 12px;
}

#last {
	float: right;
	background-color: #313131;
	border: 1px solid #313131;
	height: 4px;
	width: 1px;
	margin-right: 40px;
	font-size: 11px;
}

#over {
	position: relative;
	top: 5px;
	right: 31px;
}

#expert {
	position: relative;
	top: 5px;
	right: 25px;
}

#familiar {
	position: relative;
	top: 5px;
	left: -2px;
}

#proficient {
	position: relative;
	top: 5px;
	right: 36px;
}


/* ######################## */
/* ------------------------------------------------------------------ */
/* EXPERIENCE ############ */

#sectionC {
	height: auto;
	width: 99%;
	overflow: auto;
}

#experience {
	display: inline-block;
	padding-top: 30px;
	padding-left: 30px;
	width: 97%;
}

#jobs {
	float: left;
	width: auto;
}

#education {
	float: left;
	margin-left: 5%;
	width: 21em;
	height: auto;
	margin-top: 32px;
	overflow: hidden;
}

#courses {
	float: left;
	margin-left: 5%;
	width: 21em;
	height: auto;
	overflow: hidden;
}

#honors {
	float: left;
	margin-left: 5%;
	width: 21em;
	height: auto;
	overflow: hidden;
}

.dates {
	margin-left: 58%;
	margin-bottom: -5px;
	font-weight: 500;
}

.jobs {
	margin-bottom: -20px;
	font-weight: 700;
	font-size: 19px;
	margin-left: 30px;
	color: #313131;
	font-family: MuseoSans;
	font-style: normal;
}

.jobd {
	list-style-type: circle;
	font-size: 14px;
	color: #313131;
	font-family: MuseoSans;
	font-style: normal;
	font-weight: 300;
	margin-bottom: 10px;
	text-align: justify;
	width: 98%;
}

.jobdx {
	list-style-type: circle;
	font-size: 15px;
	color: #313131;
	font-family: MuseoSans;
	font-style: normal;
	font-weight: 500;
	margin-bottom: 10px;
	text-align: justify;
	width: 40em;
/*	display: inline-block; */
}

.resume:hover {
	font-weight: 700;
}

/* ######################## */
/* ------------------------------------------------------------------ */
/* CONTACT */

#sectionD {
	position: absolute;
	height: 600px;
	width: 100%;
}

#contact {
	position: absolute;
	top: 100px;
	right: 0;
	height: 450px;
	width: 66%;
}

#bio {
	position: absolute;
	top: 100px;
	height: 300px;
	width: 33%;
}

input {
	position: relative;
	float: left;
	border: none;
	border-style: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 75%;
	height: 40px;
	line-height: 40px;
	left: 0px;
}

.foo {
	color: #313131;
	padding: 0px 10px;
	display: inline-block;
	width: 85px;
	float: left;
	border: 1px solid white;
	background: white;
	line-height: 40px;
}

#nam {
	position: relative;
}

#ema {
	clear: left;
	position: relative;
	top: 15px;
}

#mes {
	z-index: 99;
	clear: left;
	position: relative;
	top: 15px;
	padding-bottom: 130px;
}

.fooo {
	position: relative;
	color: #313131;
	padding: 0px 10px;
	display: inline-block;
	width: 85px;
	clear:both;
	float: left;
	border: 1px solid white;
	background: white;
	line-height: 40px;
}

input, textarea {
	resize: none;
	color: #454545;
	font-size: 15px;
}

textarea {
	position: absolute;
	top: 97px;
	left: 105px;
	height: 160px;
	width: 75%;
	border: none;
	border-style: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	line-height: 18px;
	z-index: 1000;
}

#Name {

}

#Email {
	margin-top: 15px;
}

#Message {
	margin-top: 25px;
}

#submit {
	position: absolute;
	clear: both;
	height: 50px;
	width: 12%;
	background-color:#313131;
	color:#CACCCD;
	font-weight: 500;
	font-size: 16px;
	opacity: 1;
	bottom: 107px;
	left: 0;
}

#bufferspace {
	position: absolute;
	width: 75%;
	height: 10px;
	border: 1px solid white;
	color: white;
	background: white;
	bottom: 171px;
	top: 114px;
	left: 107px;
}

#submit:hover {
	background-color: #5a5a5a;
}

#info {
	float: right;
	position: relative;
	top: -8px;
	right: 90px;
}

#phone {
	clear: right;
	float: right;
	position: relative;
	right: 100px;
	top: 3px;
}

#mail {
	clear: right;
	float: right;
	position: relative;
	right: 9px;
	top: 23px;
}

#extra {
	clear: right;
	float: right;
	position: relative;
	top: 50px;
	right: 4%;
}

#profile {
	float: right;
	position: relative;
	right: 95px;
	width: 30px;
	height: 30px;
}

#cell {
	float: right;
	width: 25px;
	height: 32px;
	position: relative;
	right: 107px;
	top: -6px;
}

#envelope {
	float: right;
	width: 28px;
	height: 25px;
	position: relative;
	right: 15px;
	top: 19px;
}

/* ######################## */

